<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button expand="block" routerLink="/dashboard" routerDirection="forward">
  Login
</ion-button>

  <ion-item>
  <ion-select [(ngModel)]="ruecken">
    <ion-select-option>Rueckenstrecker</ion-select-option>
    <ion-select-option>Rudern</ion-select-option>
  </ion-select>
  </ion-item>

  <ion-button (click)="saveData()">Save Data</ion-button>
  <ion-button (click)="loadData()">Load Data</ion-button>

</ion-content>
