<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="selection">
    <ion-item>Wähle!
      <ion-select formControlName="selectionInput">
        <ion-select-option value="Bobo">Bobo</ion-select-option>
        <ion-select-option value="Rudern">Rudern</ion-select-option>
        <ion-select-option value="Banane">Banane</ion-select-option>
      </ion-select>
    </ion-item>
  </form>

  <ion-button (click)="saveData(selection.value)">Save Data</ion-button>
  <ion-button
    (click)="loadData()"
    routerLink="/dashboard"
    routerDirection="forward"
    >Load Data</ion-button
  >
</ion-content>
