<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item>Wähle!
  <ion-select [(ngModel)]="item">
    <ion-select-option>Bobo</ion-select-option>
    <ion-select-option>Rudern</ion-select-option>
    <ion-select-option>Banane</ion-select-option>
  </ion-select>
  </ion-item>



  <ion-button (click)="saveData()">Save Data</ion-button>
  <ion-button (click)="loadData()" routerLink="/dashboard" routerDirection="forward">Load Data</ion-button>




</ion-content>
