<ion-header>
  <ion-toolbar color="primary">
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button expand="block" (click)="goDetail()">
Details
</ion-button>
  <ion-button expand="block" routerLink="/" routerDirection="root">
    Logout
  </ion-button>



  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Hier siehst du deine Auswahl</ion-card-subtitle>
      <ion-card-title>Auswahl</ion-card-title>

    </ion-card-header>
    <ion-item>{{item}}</ion-item>

    </ion-card>
</ion-content>
